*{
    font-family: 'Arial';
    scroll-behavior: smooth;
    margin: 0 0;
    padding: 0 0;
    color: whitesmoke;
    box-sizing: border-box;
}
body{
   
    background-image: url('kepek/nagyhatter.jpeg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto;
    color: black;
}
.projekteim{

    
    min-height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    font-family: sans-serif;
    
}
.button {
    
    border: none;
    color:black;
    text-align: center;
    font-size: 25px;
    padding: 30px;
    width: 200px;
    transition: all 1s;
    cursor: crosshair;
    margin: 5px;
    vertical-align: 40px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
 
  .button span {
    cursor: pointer;
    display: ruby;
    position: relative;
    transition: 0.5s;
  }
  .button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 10px;
    transition: 0.5s;
  }
  .button:hover span {
    font-size: 150%;
    font-stretch: expanded;
    
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button a {
      text-decoration: none;
  }
li{
    list-style: none;
}
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: inside;
}
h1{
  position: absolute;
  margin-top: 50px;
  left: 43.5%;
  font-size: 40px;
}
.header-title {
  animation-delay: 3s;
}
.animate-pop-in {
  animation: pop-in 2s ease-out forwards;
  opacity: 0;
}
@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

 